<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/user_coursereg.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-2.1.4.js"></script>
  <title>Course-Registration</title>
  <link rel="icon" type="image/x-icon" href="/images/lnmid.svg">

</head>

<body>

  <div class="main">
    <%
      if(typeof message !== 'undefined'){
      %>
     <div class="success">
            <div class="success__icon">
              <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="m12 1c-6.075 0-11 4.925-11 11s4.925 11 11 11 11-4.925 11-11-4.925-11-11-11zm4.768 9.14c.0878-.1004.1546-.21726.1966-.34383.0419-.12657.0581-.26026.0477-.39319-.0105-.13293-.0475-.26242-.1087-.38085-.0613-.11844-.1456-.22342-.2481-.30879-.1024-.08536-.2209-.14938-.3484-.18828s-.2616-.0519-.3942-.03823c-.1327.01366-.2612.05372-.3782.1178-.1169.06409-.2198.15091-.3027.25537l-4.3 5.159-2.225-2.226c-.1886-.1822-.4412-.283-.7034-.2807s-.51301.1075-.69842.2929-.29058.4362-.29285.6984c-.00228.2622.09851.5148.28067.7034l3 3c.0983.0982.2159.1748.3454.2251.1295.0502.2681.0729.4069.0665.1387-.0063.2747-.0414.3991-.1032.1244-.0617.2347-.1487.3236-.2554z" fill="#393a37" fill-rule="evenodd"></path></svg>
            </div>
            <div class="success__title"><%=message%></div>
            <div class="success__close"><svg height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z" fill="#393a37"></path></svg></div>
          </div>
      <% }
        
    %>
  <div class="navbar">
    <div class="lnmlogo"></div>
    <div class="develop"><a href="/developedBy" >Developed By ISDL Team </a></div>
  </div>

    <form class="container1" action="/coursereg" method="post">
      <div class="heading"><div>Course Register</div> 
      <div class="heading_2">Core Courses</div>
    </div>
      
      <div class="courses" width="100%">
       

        <% if(corecourse.length> 0)
          {
          for(let i=0; i<corecourse.length; i++){ %>
            <div class="card_main">
              <div class="card_image">
                <img class="photo_instructor" src="/images/image 3.png">
              </div>
              <div class="card_content">
                <!-- <tr> -->
                  <h1 class="card_heading1">
                    <!-- <td> -->
                      <%= corecourse[i].coursename %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= corecourse[i].courseid %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= corecourse[i].semester %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= corecourse[i].branch %>
                    <!-- </td> -->
                  </h1>
                  <label class="cont">
                    <input type="checkbox" class="card_checkbox" name="coreCourses[]" value="<%= corecourse[i].courseid %>">
                    <div class="checkmark"> 
                    </div>
                  <!-- <div class="checkmark"></div> -->
                </label>
                <!-- </tr> -->
              </div>
            </div>
            <% } } %>
          </div>
      <div class="heading_2">Program Electives</div>
      <div class="courses" width="100%">
       
        <% if(programcourse.length> 0)
          {
          for(let i=0; i<programcourse.length; i++){ %>
            <div class="card_main">
              <div class="card_image">
                <img class="photo_instructor" src="/images/image 3.png">
              </div>
              <div class="card_content">
                <!-- <tr> -->
                  <h1 class="card_heading1">
                    <!-- <td> -->
                      <%= programcourse[i].coursename %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= programcourse[i].courseid %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= programcourse[i].semester %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= programcourse[i].branch %>
                    <!-- </td> -->
                  </h1>
                  <!-- <label class="container">
  <input checked="checked" type="checkbox">-->
                  </tr>
                  <label class="cont">
                    <input  type="checkbox" class="card_checkbox" name="programCourses[]" value="<%= programcourse[i].courseid %>">
                    <div class="checkmark"></div>
                  </label>
              </div>
            </div>
            <% } } %>
          </div>

      <div class="heading_2">Other Electives</div>
      <div class="courses" width="100%">
        

        <% if(othercourse.length> 0)
          {
          for(let i=0; i<othercourse.length; i++){ %>
            <div class="card_main">
              <div class="card_image">
                <img class="photo_instructor" src="/images/image 3.png">
              </div>
              <div class="card_content">
                <!-- <tr> -->
                  <h1 class="card_heading1">
                    <!-- <td> -->
                      <%= othercourse[i].coursename %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= othercourse[i].courseid %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= othercourse[i].semester %>
                    <!-- </td> -->
                  </h1>
                  <h1 class="card_heading2">
                    <!-- <td> -->
                      <%= othercourse[i].branch %>
                    <!-- </td> -->
                  </h1>
                  <label  class="cont">
                  <input  type="checkbox" class="card_checkbox" name="otherCourses[]" value="<%= othercourse[i].courseid %>">
                  <div class="checkmark"></div>
                </label>
                </tr>
              </div>
            </div>
            <% } } %>
          </div>
            <button type="submit" class="button">Register →</button>

    </form>
    <button class="button" onclick="window.location.href='/home'">
      <span class="spot"></span>Go to home
    </button>
    <script>
      const closeButton = document.querySelector('.success__close');
      const success = document.querySelector('.success');
      closeButton.addEventListener('click', () => {
        // Hide the registration form when the close button is clicked
        success.style.display = 'none';
      });
    </script>
  </div>
</body>

</html>

<!-- 
<div className={CardCss.main}>
  <div className={CardCss.image}>
    <img src={props.image} />
  </div>

  <div className={CardCss.content}>

  <h1 className={CardCss.heading1}>{props.heading1}</h1>
  <h1 className={CardCss.heading2}>{props.heading2}</h1>
     <p className={CardCss.para1}>{props.para1}</p>
  </div>
  {/* <div className={CardCss.tick}>
  <img className={CardCss.tickImg} src={tickImg} />
 </div> */}
 </div> -->